 <h1>Edit User Information</h1>
 <br>
<%= form_for @user do |f| %>
  <%= label_tag(:username) %>
  <br>
  <%= f.text_field :username, placeholder: 'Your name' %>
  <br>
  <br>
  <%= label_tag(:email) %>
  <br>
  <%= f.email_field :email, placeholder: 'Your email'%>
  <br>
  <br>
  <%= label_tag(:password) %>
  <br>
  <%= f.password_field :password%>
  <br>
  <br>
  <%= f.submit%>
<% end %>
