 <h1>Sign In</h1>

<!--
<form accept-charset="UTF-8" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]"><br><br>
  <label for="email">Email:</label>
    <input type="text" id="email" name="user[email]"><br><br>
  <label for="password">Password:</label>
    <input type="password" id="password" name="user[password]"><br><br>    
  <input type="submit" value="Submit">
</form>
-->

<!--
<%= form_tag('/users') do %>
  <%= label_tag(:username) %>
  <br>
  <%= text_field_tag(:username, nil, placeholder: 'Enter your user name') %>
  <br>
  <br>
  <%= label_tag(:email) %>
  <br>
  <%= email_field_tag(:email, nil, placeholder: 'Enter your email here')%>
  <br>
  <br>
  <%= label_tag(:password) %>
  <br>
  <%= password_field_tag(:password)%>
  <br>
  <br>
  <%= submit_tag("Add user")%>
<% end %>
-->

<%= form_for @user do |f| %>
  <%= label_tag(:username) %>
  <br>
  <%= f.text_field :username, placeholder: 'Your name' %>
  <br>
  <br>
  <%= label_tag(:email) %>
  <br>
  <%= f.email_field :email, placeholder: 'Your email'%>
  <br>
  <br>
  <%= label_tag(:password) %>
  <br>
  <%= f.password_field :password%>
  <br>
  <br>
  <%= f.submit%>
<% end %>
